* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    background-color: #121a24;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: rgb(218, 46, 80);
}


.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: #EFE9E7;
    padding: 8px 16px; 
    margin: 16px 0 18px ;
    font-size: 0.95rem;
    font-weight: 500;
    background-color: rgb(218, 46, 80);
    width: fit-content;
    border-radius: 50px;
}



.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #EFE9E7;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0px 5px;
    background: none;
    cursor: pointer;
    color: rgb(218, 46, 80);
    border: 2px solid rgb(218, 46, 80);
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #EFE9E7;
    background: rgb(218, 46, 80);
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: rgb(218, 46, 80);
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1
}

.card-wrapper .siper-slide-button {
    color: rgb(218, 46, 80);
    margin-top: -35px;
}

.container {
    margin-top:-60%
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;

    }

    .card-wrapper .siper-slide-button {
        display: none;

    }
}