{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">

    <div class="bird-container bird-container-one">
        <div class="bird bird-one"></div>
    </div>
    <div class="bird-container bird-container-two">
        <div class="bird bird-two"></div>
    </div>
    <div class="bird-container bird-container-three">
        <div class="bird bird-three"></div>
    </div>
    <div class="bird-container bird-container-four">
        <div class="bird bird-four"></div>
    </div>
</div>
<div class='intro'>
    <img class="image" src="{% static "images/Pied-Northern-Cardinal-Transparent-PNG.png" %}"/>
    <div class="intro-text-block">
        <div class="intro-text">
            Hey, I'm
            <strong class="emphasis-text">Robbin</strong>
            !
        </div>
        <div class="intro-text">
            I'm a
            <strong class="emphasis-text">software developer</strong>
            with experience in multiple languages.
        </div>
        <div class="work">
            Currently enrolled at 
           <strong class="emphasis-text">Base Camp Coding Academy</strong>
           .
        </div>
    </div>
</div>
    <img class="me" src="{% static "images/robbin.jpg" %}"/>
{% endblock content %}